.form-textarea[data-v-9a02498e]{display:flex;padding:.2em .4em;border:1px solid #dfdfdf;border-radius:.2em;flex-shrink:1}.form-textarea>textarea[data-v-9a02498e]{border:none;outline:none;flex-grow:1}
